.bg:not(.end) {
  animation: moveWrapperBg 80s ease alternate infinite;
}

/*  keyframes */
@keyframes moveWrapperBg {
  from {
    background-position-x: right;
  }
  to {
    background-position-x: left;
  }
}

.wrapper {
  width: 100%;
  height: calc(100vh - 6em);
  border-radius: 1em;
  border: 1em solid #fff;

  background-size: cover;
  box-shadow: 0 0 10em -2em #1c0859;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;

  z-index: 10;
}