.wrapper {
  max-width: 1920px;
  height: 1080px;
  width: 100%;
  border-radius: 2em;

  background-size: cover;
  box-shadow: 0 0 10em -2em #1c0859;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  z-index: 10;
}