.bg:not(.end) {
  animation: moveWrapperBg 60s ease alternate infinite;
}


/*  keyframes */
@keyframes moveWrapperBg {
  from {
    background-position-x: right;
  }
  to {
    background-position-x: left;
  }
}
