.wrapper {
  max-width: 1920px;
  height: 1080px;
  width: 100%;
  border-radius: 5em;

  background: url(../img/AmongTreesScreenshot15.png) no-repeat center;
  background-size: cover;

  display: flex;
  overflow: hidden;

  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 70%), -10px -10px 20px 1px rgb(255 255 255 / 30%);
}
