.wrapper {
  width: 100%;
  height: calc(100vh - 3em);
  border-radius: 1em;

  background-size: cover;
  box-shadow: 0 0 10em -2em #1c0859;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;

  z-index: 10;
}