@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;800&display=swap");

body {
  background: transparent;
  color: #fff;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  padding: 1em;

  background-image: url(img/pattern-bg.png);
  background-size: cover;
}

body * {
  letter-spacing: 0.25rem;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hidden {
  display: none;
}

.bg {
  background: url(img/AmongTreesScreenshot-Chat1.jpg) no-repeat center;
  background-size: 130%;
}
.talk {
  background: url(img/AmongTreesScreenshot-Chat.jpg) no-repeat center;
  background-size: 130%;
}
.brb {
  background: url(img/AmongTreesScreenshot-Brb.jpg) no-repeat center;
  background-size: 130%;
}
.end {
  background: url(img/AmongTreesScreenshot-End.jpg) no-repeat center;
}

.talk .flakes {
  opacity: 0.1;
}
.talk .sidebar {
  opacity: 0.5;
}
