@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;800&display=swap");

body {
  background: #000;
  color: #fff;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

body * {
  letter-spacing: 0.25rem;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.hidden {
  display: none;
}

.bg {
  background: url(img/AmongTreesScreenshot-Start.jpg) no-repeat center;
}
.talk {
  background: url(img/AmongTreesScreenshot-Chat.jpg) no-repeat center;
}
.brb {
  background: url(img/AmongTreesScreenshot-Brb.jpg) no-repeat center;
}
.end {
  background: url(img/AmongTreesScreenshot-End.jpg) no-repeat center;
}


@keyframes moveWrapperBg {
  from {
    background-position-x: right;
  }
  to {
    background-position-x: left;
  }
}


/* Twinkling Stars */
.stars {
  background: transparent
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -moz-animation: move-background 40s linear infinite;
  -ms-animation: move-background 40s linear infinite;
  -o-animation: move-background 40s linear infinite;
  -webkit-animation: move-background 40s linear infinite;
  animation: move-background 40s linear infinite;
}

/* Keyframes */
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}