@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;800&display=swap");

body {
  background: #000;
  color: #fff;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  padding: 1em;
}

body * {
  letter-spacing: 0.25rem;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hidden {
  display: none;
}

.bg {
  background: url(img/AmongTreesScreenshot-Start.jpg) no-repeat center;
  background-size: 130%;

}
.talk {
  background: url(img/AmongTreesScreenshot-Chat.jpg) no-repeat center;
  background-size: 130%;

}
.brb {
  background: url(img/AmongTreesScreenshot-Brb.jpg) no-repeat center;
  background-size: 130%;

}
.end {
  background: url(img/AmongTreesScreenshot-End.jpg) no-repeat center;
}
