.nav {
  list-style-type: none;
  padding-left: 0;
  width: 350px;
}

.nav li {
  margin: 20px 0;
}

.nav li a {
  position: relative;
  top: 0;
  opacity: 0.4;

  font-size: 1.6em;
  color: #fff;
  text-decoration: none;
}

.nav > li > a[aria-current] {
  left: 0;
  animation: moveLR 2s ease forwards;
}

.nav > li > a[aria-current]:before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  width: 0;
  height: 1px;
  border-top: 7px dotted #fff;

  animation: lineExpand 1.5s 0.2s ease forwards;
}

/* Animation Keyframes */
@keyframes moveLR {
  0% {
    margin-left: 0;
    color: #fff;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes lineExpand {
  0%{
    width:0;
    left: 0;
  }
  100%{
    width: 40px;
    left: -50px;
  }
}


@keyframes blinking{
  0%,50%{
    opacity: 1;
  }
  100%{
    opacity: 0.3;
  }
}